#left {
    background: #999999;
    width: 100px;
    position: absolute;
    left: 50px;
    top: 85px;
}

#right {
    background: #0066FF;
    color: #fff;
    width: 300px;
    position: absolute;
    left: 150px;
    top: 85px;
}

.clear {
    clear: both;
}

#h2-caption{
    text-align: center;
}